
.idea/.idea.Nebula/.idea/avalonia.xml
.idea/.idea.Nebula/.idea/encodings.xml
.idea/.idea.Nebula/.idea/indexLayout.xml
.idea/.idea.Nebula/.idea/inspectionProfiles/Project_Default.xml
.idea/.idea.Nebula/.idea/sqldialects.xml
.idea/.idea.Nebula/.idea/vcs.xml
Nebula/bin/
Nebula/obj/
Nebula.Media/bin/
Nebula.Media/obj/
Nebula.Utils/bin/
Nebula.Utils/obj/
Nebula.Discord/bin/
Nebula.Discord/obj/
Nebula.sln.DotSettings
Nebula.sln.DotSettings.user
