
.idea/.idea.Nebula/.idea/avalonia.xml
.idea/.idea.Nebula/.idea/encodings.xml
.idea/.idea.Nebula/.idea/indexLayout.xml
.idea/.idea.Nebula/.idea/inspectionProfiles/Project_Default.xml
.idea/.idea.Nebula/.idea/sqldialects.xml
.idea/.idea.Nebula/.idea/vcs.xml
Nebula.Media/bin/Debug/net5.0/Nebula.Media.deps.json
Nebula.Media/bin/Debug/net5.0/Nebula.Media.dll
Nebula.Media/bin/Debug/net5.0/Nebula.Media.pdb
Nebula.Media/bin/Debug/net5.0/Nebula.Utils.dll
Nebula.Media/bin/Debug/net5.0/Nebula.Utils.pdb
Nebula.Media/bin/Debug/net5.0/ref/Nebula.Media.dll
Nebula.Media/bin/Release/net5.0/Nebula.Media.deps.json
Nebula.Media/bin/Release/net5.0/Nebula.Media.dll
Nebula.Media/bin/Release/net5.0/Nebula.Media.pdb
Nebula.Media/bin/Release/net5.0/Nebula.Utils.dll
Nebula.Media/bin/Release/net5.0/Nebula.Utils.pdb
Nebula.Media/bin/Release/net5.0/ref/Nebula.Media.dll
Nebula.Media/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Nebula.Media/obj/Debug/net5.0/Nebula.Media.AssemblyInfo.cs
Nebula.Media/obj/Debug/net5.0/Nebula.Media.AssemblyInfoInputs.cache
Nebula.Media/obj/Debug/net5.0/Nebula.Media.assets.cache
Nebula.Media/obj/Debug/net5.0/Nebula.Media.csproj.CopyComplete
Nebula.Media/obj/Debug/net5.0/Nebula.Media.csproj.CoreCompileInputs.cache
Nebula.Media/obj/Debug/net5.0/Nebula.Media.csproj.FileListAbsolute.txt
Nebula.Media/obj/Debug/net5.0/Nebula.Media.csprojAssemblyReference.cache
Nebula.Media/obj/Debug/net5.0/Nebula.Media.dll
Nebula.Media/obj/Debug/net5.0/Nebula.Media.GeneratedMSBuildEditorConfig.editorconfig
Nebula.Media/obj/Debug/net5.0/Nebula.Media.pdb
Nebula.Media/obj/Debug/net5.0/ref/Nebula.Media.dll
Nebula.Media/obj/Nebula.Media.csproj.nuget.dgspec.json
Nebula.Media/obj/Nebula.Media.csproj.nuget.g.props
Nebula.Media/obj/Nebula.Media.csproj.nuget.g.targets
Nebula.Media/obj/project.assets.json
Nebula.Media/obj/project.nuget.cache
Nebula.Media/obj/project.packagespec.json
Nebula.Media/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Nebula.Media/obj/Release/net5.0/Nebula.Media.AssemblyInfo.cs
Nebula.Media/obj/Release/net5.0/Nebula.Media.AssemblyInfoInputs.cache
Nebula.Media/obj/Release/net5.0/Nebula.Media.assets.cache
Nebula.Media/obj/Release/net5.0/Nebula.Media.csproj.CopyComplete
Nebula.Media/obj/Release/net5.0/Nebula.Media.csproj.CoreCompileInputs.cache
Nebula.Media/obj/Release/net5.0/Nebula.Media.csproj.FileListAbsolute.txt
Nebula.Media/obj/Release/net5.0/Nebula.Media.csprojAssemblyReference.cache
Nebula.Media/obj/Release/net5.0/Nebula.Media.dll
Nebula.Media/obj/Release/net5.0/Nebula.Media.GeneratedMSBuildEditorConfig.editorconfig
Nebula.Media/obj/Release/net5.0/Nebula.Media.pdb
Nebula.Media/obj/Release/net5.0/ref/Nebula.Media.dll
Nebula.Media/obj/rider.project.restore.info
Nebula.sln.DotSettings
Nebula.sln.DotSettings.user
Nebula.Utils/bin/Debug/net5.0/Nebula.Utils.deps.json
Nebula.Utils/bin/Debug/net5.0/Nebula.Utils.dll
Nebula.Utils/bin/Debug/net5.0/Nebula.Utils.pdb
Nebula.Utils/bin/Debug/net5.0/ref/Nebula.Utils.dll
Nebula.Utils/bin/Release/net5.0/Nebula.Utils.deps.json
Nebula.Utils/bin/Release/net5.0/Nebula.Utils.dll
Nebula.Utils/bin/Release/net5.0/Nebula.Utils.pdb
Nebula.Utils/bin/Release/net5.0/ref/Nebula.Utils.dll
Nebula.Utils/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Nebula.Utils/obj/Debug/net5.0/Nebula.Utils.AssemblyInfo.cs
Nebula.Utils/obj/Debug/net5.0/Nebula.Utils.AssemblyInfoInputs.cache
Nebula.Utils/obj/Debug/net5.0/Nebula.Utils.assets.cache
Nebula.Utils/obj/Debug/net5.0/Nebula.Utils.csproj.CoreCompileInputs.cache
Nebula.Utils/obj/Debug/net5.0/Nebula.Utils.csproj.FileListAbsolute.txt
Nebula.Utils/obj/Debug/net5.0/Nebula.Utils.csprojAssemblyReference.cache
Nebula.Utils/obj/Debug/net5.0/Nebula.Utils.dll
Nebula.Utils/obj/Debug/net5.0/Nebula.Utils.GeneratedMSBuildEditorConfig.editorconfig
Nebula.Utils/obj/Debug/net5.0/Nebula.Utils.pdb
Nebula.Utils/obj/Debug/net5.0/ref/Nebula.Utils.dll
Nebula.Utils/obj/Nebula.Utils.csproj.nuget.dgspec.json
Nebula.Utils/obj/Nebula.Utils.csproj.nuget.g.props
Nebula.Utils/obj/Nebula.Utils.csproj.nuget.g.targets
Nebula.Utils/obj/project.assets.json
Nebula.Utils/obj/project.nuget.cache
Nebula.Utils/obj/project.packagespec.json
Nebula.Utils/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Nebula.Utils/obj/Release/net5.0/Nebula.Utils.AssemblyInfo.cs
Nebula.Utils/obj/Release/net5.0/Nebula.Utils.AssemblyInfoInputs.cache
Nebula.Utils/obj/Release/net5.0/Nebula.Utils.assets.cache
Nebula.Utils/obj/Release/net5.0/Nebula.Utils.csproj.CoreCompileInputs.cache
Nebula.Utils/obj/Release/net5.0/Nebula.Utils.csproj.FileListAbsolute.txt
Nebula.Utils/obj/Release/net5.0/Nebula.Utils.csprojAssemblyReference.cache
Nebula.Utils/obj/Release/net5.0/Nebula.Utils.dll
Nebula.Utils/obj/Release/net5.0/Nebula.Utils.GeneratedMSBuildEditorConfig.editorconfig
Nebula.Utils/obj/Release/net5.0/Nebula.Utils.pdb
Nebula.Utils/obj/Release/net5.0/ref/Nebula.Utils.dll
Nebula.Utils/obj/rider.project.restore.info
Nebula/bin/Debug/net5.0-windows/AngleSharp.dll
Nebula/bin/Debug/net5.0-windows/ca-ES/HandyControl.resources.dll
Nebula/bin/Debug/net5.0-windows/en/HandyControl.resources.dll
Nebula/bin/Debug/net5.0-windows/en/Nebula.resources.dll
Nebula/bin/Debug/net5.0-windows/fa/HandyControl.resources.dll
Nebula/bin/Debug/net5.0-windows/FluentWPF.dll
Nebula/bin/Debug/net5.0-windows/fr/HandyControl.resources.dll
Nebula/bin/Debug/net5.0-windows/fr/Nebula.resources.dll
Nebula/bin/Debug/net5.0-windows/HandyControl.dll
Nebula/bin/Debug/net5.0-windows/ko-KR/HandyControl.resources.dll
Nebula/bin/Debug/net5.0-windows/LiteMVVM.dll
Nebula/bin/Debug/net5.0-windows/LiteMVVM.WPF.dll
Nebula/bin/Debug/net5.0-windows/Microsoft.AppCenter.Analytics.dll
Nebula/bin/Debug/net5.0-windows/Microsoft.AppCenter.Crashes.dll
Nebula/bin/Debug/net5.0-windows/Microsoft.AppCenter.dll
Nebula/bin/Debug/net5.0-windows/NAudio.Asio.dll
Nebula/bin/Debug/net5.0-windows/NAudio.Core.dll
Nebula/bin/Debug/net5.0-windows/NAudio.dll
Nebula/bin/Debug/net5.0-windows/NAudio.Midi.dll
Nebula/bin/Debug/net5.0-windows/NAudio.Wasapi.dll
Nebula/bin/Debug/net5.0-windows/NAudio.WinForms.dll
Nebula/bin/Debug/net5.0-windows/NAudio.WinMM.dll
Nebula/bin/Debug/net5.0-windows/Nebula.deps.json
Nebula/bin/Debug/net5.0-windows/Nebula.dll
Nebula/bin/Debug/net5.0-windows/Nebula.exe
Nebula/bin/Debug/net5.0-windows/Nebula.Media.dll
Nebula/bin/Debug/net5.0-windows/Nebula.Media.pdb
Nebula/bin/Debug/net5.0-windows/Nebula.pdb
Nebula/bin/Debug/net5.0-windows/Nebula.runtimeconfig.dev.json
Nebula/bin/Debug/net5.0-windows/Nebula.runtimeconfig.json
Nebula/bin/Debug/net5.0-windows/Nebula.Utils.dll
Nebula/bin/Debug/net5.0-windows/Nebula.Utils.pdb
Nebula/bin/Debug/net5.0-windows/net5.0-windows.7z
Nebula/bin/Debug/net5.0-windows/Newtonsoft.Json.dll
Nebula/bin/Debug/net5.0-windows/pl/HandyControl.resources.dll
Nebula/bin/Debug/net5.0-windows/pt-BR/HandyControl.resources.dll
Nebula/bin/Debug/net5.0-windows/ref/Nebula.dll
Nebula/bin/Debug/net5.0-windows/ru/HandyControl.resources.dll
Nebula/bin/Debug/net5.0-windows/runtimes/alpine-x64/native/libe_sqlite3.so
Nebula/bin/Debug/net5.0-windows/runtimes/linux-arm/native/libe_sqlite3.so
Nebula/bin/Debug/net5.0-windows/runtimes/linux-arm64/native/libe_sqlite3.so
Nebula/bin/Debug/net5.0-windows/runtimes/linux-armel/native/libe_sqlite3.so
Nebula/bin/Debug/net5.0-windows/runtimes/linux-mips64/native/libe_sqlite3.so
Nebula/bin/Debug/net5.0-windows/runtimes/linux-musl-x64/native/libe_sqlite3.so
Nebula/bin/Debug/net5.0-windows/runtimes/linux-x64/native/libe_sqlite3.so
Nebula/bin/Debug/net5.0-windows/runtimes/linux-x86/native/libe_sqlite3.so
Nebula/bin/Debug/net5.0-windows/runtimes/osx-x64/native/libe_sqlite3.dylib
Nebula/bin/Debug/net5.0-windows/runtimes/win-arm/native/e_sqlite3.dll
Nebula/bin/Debug/net5.0-windows/runtimes/win-arm64/native/e_sqlite3.dll
Nebula/bin/Debug/net5.0-windows/runtimes/win-x64/native/e_sqlite3.dll
Nebula/bin/Debug/net5.0-windows/runtimes/win-x86/native/e_sqlite3.dll
Nebula/bin/Debug/net5.0-windows/runtimes/win/lib/netcoreapp2.0/System.Management.dll
Nebula/bin/Debug/net5.0-windows/SQLite-net.dll
Nebula/bin/Debug/net5.0-windows/SQLitePCLRaw.batteries_v2.dll
Nebula/bin/Debug/net5.0-windows/SQLitePCLRaw.core.dll
Nebula/bin/Debug/net5.0-windows/SQLitePCLRaw.nativelibrary.dll
Nebula/bin/Debug/net5.0-windows/SQLitePCLRaw.provider.dynamic_cdecl.dll
Nebula/bin/Debug/net5.0-windows/System.Management.dll
Nebula/bin/Debug/net5.0-windows/tr/HandyControl.resources.dll
Nebula/bin/Debug/net5.0-windows/YoutubeExplode.dll
Nebula/bin/Release/net5.0-windows/AngleSharp.dll
Nebula/bin/Release/net5.0-windows/ca-ES/HandyControl.resources.dll
Nebula/bin/Release/net5.0-windows/en/HandyControl.resources.dll
Nebula/bin/Release/net5.0-windows/en/Nebula.resources.dll
Nebula/bin/Release/net5.0-windows/fa/HandyControl.resources.dll
Nebula/bin/Release/net5.0-windows/FluentWPF.dll
Nebula/bin/Release/net5.0-windows/fr/HandyControl.resources.dll
Nebula/bin/Release/net5.0-windows/fr/Nebula.resources.dll
Nebula/bin/Release/net5.0-windows/HandyControl.dll
Nebula/bin/Release/net5.0-windows/ko-KR/HandyControl.resources.dll
Nebula/bin/Release/net5.0-windows/NAudio.Asio.dll
Nebula/bin/Release/net5.0-windows/NAudio.Core.dll
Nebula/bin/Release/net5.0-windows/NAudio.dll
Nebula/bin/Release/net5.0-windows/NAudio.Midi.dll
Nebula/bin/Release/net5.0-windows/NAudio.Wasapi.dll
Nebula/bin/Release/net5.0-windows/NAudio.WinForms.dll
Nebula/bin/Release/net5.0-windows/NAudio.WinMM.dll
Nebula/bin/Release/net5.0-windows/Nebula.deps.json
Nebula/bin/Release/net5.0-windows/Nebula.dll
Nebula/bin/Release/net5.0-windows/Nebula.exe
Nebula/bin/Release/net5.0-windows/Nebula.Media.dll
Nebula/bin/Release/net5.0-windows/Nebula.Media.pdb
Nebula/bin/Release/net5.0-windows/Nebula.MVVM.dll
Nebula/bin/Release/net5.0-windows/Nebula.MVVM.pdb
Nebula/bin/Release/net5.0-windows/Nebula.pdb
Nebula/bin/Release/net5.0-windows/Nebula.runtimeconfig.dev.json
Nebula/bin/Release/net5.0-windows/Nebula.runtimeconfig.json
Nebula/bin/Release/net5.0-windows/Nebula.Utils.dll
Nebula/bin/Release/net5.0-windows/Nebula.Utils.pdb
Nebula/bin/Release/net5.0-windows/net5.0-windows.7z
Nebula/bin/Release/net5.0-windows/pl/HandyControl.resources.dll
Nebula/bin/Release/net5.0-windows/pt-BR/HandyControl.resources.dll
Nebula/bin/Release/net5.0-windows/ref/Nebula.dll
Nebula/bin/Release/net5.0-windows/ru/HandyControl.resources.dll
Nebula/bin/Release/net5.0-windows/runtimes/alpine-x64/native/libe_sqlite3.so
Nebula/bin/Release/net5.0-windows/runtimes/linux-arm/native/libe_sqlite3.so
Nebula/bin/Release/net5.0-windows/runtimes/linux-arm64/native/libe_sqlite3.so
Nebula/bin/Release/net5.0-windows/runtimes/linux-armel/native/libe_sqlite3.so
Nebula/bin/Release/net5.0-windows/runtimes/linux-mips64/native/libe_sqlite3.so
Nebula/bin/Release/net5.0-windows/runtimes/linux-musl-x64/native/libe_sqlite3.so
Nebula/bin/Release/net5.0-windows/runtimes/linux-x64/native/libe_sqlite3.so
Nebula/bin/Release/net5.0-windows/runtimes/linux-x86/native/libe_sqlite3.so
Nebula/bin/Release/net5.0-windows/runtimes/osx-x64/native/libe_sqlite3.dylib
Nebula/bin/Release/net5.0-windows/runtimes/win-arm/native/e_sqlite3.dll
Nebula/bin/Release/net5.0-windows/runtimes/win-arm64/native/e_sqlite3.dll
Nebula/bin/Release/net5.0-windows/runtimes/win-x64/native/e_sqlite3.dll
Nebula/bin/Release/net5.0-windows/runtimes/win-x86/native/e_sqlite3.dll
Nebula/bin/Release/net5.0-windows/SQLite-net.dll
Nebula/bin/Release/net5.0-windows/SQLitePCLRaw.batteries_v2.dll
Nebula/bin/Release/net5.0-windows/SQLitePCLRaw.core.dll
Nebula/bin/Release/net5.0-windows/SQLitePCLRaw.nativelibrary.dll
Nebula/bin/Release/net5.0-windows/SQLitePCLRaw.provider.dynamic_cdecl.dll
Nebula/bin/Release/net5.0-windows/tr/HandyControl.resources.dll
Nebula/bin/Release/net5.0-windows/YoutubeExplode.dll
Nebula/obj/Debug/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Nebula/obj/Debug/net5.0-windows/App.g.cs
Nebula/obj/Debug/net5.0-windows/apphost.exe
Nebula/obj/Debug/net5.0-windows/en/Nebula.resources.cs
Nebula/obj/Debug/net5.0-windows/en/Nebula.resources.dll
Nebula/obj/Debug/net5.0-windows/fr/Nebula.resources.cs
Nebula/obj/Debug/net5.0-windows/fr/Nebula.resources.dll
Nebula/obj/Debug/net5.0-windows/GeneratedInternalTypeHelper.g.cs
Nebula/obj/Debug/net5.0-windows/Nebula.AssemblyInfo.cs
Nebula/obj/Debug/net5.0-windows/Nebula.AssemblyInfoInputs.cache
Nebula/obj/Debug/net5.0-windows/Nebula.assets.cache
Nebula/obj/Debug/net5.0-windows/Nebula.csproj.CopyComplete
Nebula/obj/Debug/net5.0-windows/Nebula.csproj.CoreCompileInputs.cache
Nebula/obj/Debug/net5.0-windows/Nebula.csproj.FileListAbsolute.txt
Nebula/obj/Debug/net5.0-windows/Nebula.csproj.GenerateResource.cache
Nebula/obj/Debug/net5.0-windows/Nebula.csprojAssemblyReference.cache
Nebula/obj/Debug/net5.0-windows/Nebula.dll
Nebula/obj/Debug/net5.0-windows/Nebula.g.resources
Nebula/obj/Debug/net5.0-windows/Nebula.GeneratedMSBuildEditorConfig.editorconfig
Nebula/obj/Debug/net5.0-windows/Nebula.genruntimeconfig.cache
Nebula/obj/Debug/net5.0-windows/Nebula.pdb
Nebula/obj/Debug/net5.0-windows/Nebula.Resources.Nebula.en.resources
Nebula/obj/Debug/net5.0-windows/Nebula.Resources.Nebula.fr.resources
Nebula/obj/Debug/net5.0-windows/Nebula.Resources.Nebula.resources
Nebula/obj/Debug/net5.0-windows/Nebula_MarkupCompile.cache
Nebula/obj/Debug/net5.0-windows/Nebula_MarkupCompile.lref
Nebula/obj/Debug/net5.0-windows/ref/Nebula.dll
Nebula/obj/Debug/net5.0-windows/View/MainWindow.g.cs
Nebula/obj/Debug/net5.0-windows/View/Styles/Geometry.baml
Nebula/obj/Debug/net5.0-windows/View/Styles/Styles.baml
Nebula/obj/Debug/net5.0-windows/View/Themes/DarkTheme.baml
Nebula/obj/Debug/net5.0-windows/View/Themes/LightTheme.baml
Nebula/obj/Debug/net5.0-windows/View/Views/Dialogs/ElementSelectorDialogView.g.cs
Nebula/obj/Debug/net5.0-windows/View/Views/Dialogs/LocalPlaylistSelectorDialogView.g.cs
Nebula/obj/Debug/net5.0-windows/View/Views/Dialogs/MessageDialogView.g.cs
Nebula/obj/Debug/net5.0-windows/View/Views/Dialogs/PlaylistCreationDialogView.g.cs
Nebula/obj/Debug/net5.0-windows/View/Views/Dialogs/PlaylistImportDialogView.g.cs
Nebula/obj/Debug/net5.0-windows/View/Views/MediaPlayerView.g.cs
Nebula/obj/Debug/net5.0-windows/View/Views/MediaQueueView.g.cs
Nebula/obj/Debug/net5.0-windows/View/Views/MediasQueueView.g.cs
Nebula/obj/Debug/net5.0-windows/View/Views/NotifyIconView.g.cs
Nebula/obj/Debug/net5.0-windows/View/Views/PlaylistView.g.cs
Nebula/obj/Debug/net5.0-windows/View/Views/SearchResultsView.g.cs
Nebula/obj/Debug/net5.0-windows/View/Views/SideBarView.g.cs
Nebula/obj/Debug/net5.0-windows/View/Views/TestControl1.baml
Nebula/obj/Debug/net5.0-windows/View/Views/TestControl1.g.cs
Nebula/obj/Debug/net5.0-windows/View/Views/TestControl2.baml
Nebula/obj/Debug/net5.0-windows/View/Views/TestControl2.g.cs
Nebula/obj/Nebula.csproj.nuget.dgspec.json
Nebula/obj/Nebula.csproj.nuget.g.props
Nebula/obj/Nebula.csproj.nuget.g.targets
Nebula/obj/project.assets.json
Nebula/obj/project.nuget.cache
Nebula/obj/project.packagespec.json
Nebula/obj/Release/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Nebula/obj/Release/net5.0-windows/App.baml
Nebula/obj/Release/net5.0-windows/App.g.cs
Nebula/obj/Release/net5.0-windows/apphost.exe
Nebula/obj/Release/net5.0-windows/en/Nebula.resources.cs
Nebula/obj/Release/net5.0-windows/en/Nebula.resources.dll
Nebula/obj/Release/net5.0-windows/fr/Nebula.resources.cs
Nebula/obj/Release/net5.0-windows/fr/Nebula.resources.dll
Nebula/obj/Release/net5.0-windows/GeneratedInternalTypeHelper.g.cs
Nebula/obj/Release/net5.0-windows/MainWindow.g.cs
Nebula/obj/Release/net5.0-windows/Nebula.AssemblyInfo.cs
Nebula/obj/Release/net5.0-windows/Nebula.AssemblyInfoInputs.cache
Nebula/obj/Release/net5.0-windows/Nebula.assets.cache
Nebula/obj/Release/net5.0-windows/Nebula.csproj.CopyComplete
Nebula/obj/Release/net5.0-windows/Nebula.csproj.CoreCompileInputs.cache
Nebula/obj/Release/net5.0-windows/Nebula.csproj.FileListAbsolute.txt
Nebula/obj/Release/net5.0-windows/Nebula.csproj.GenerateResource.cache
Nebula/obj/Release/net5.0-windows/Nebula.csprojAssemblyReference.cache
Nebula/obj/Release/net5.0-windows/Nebula.dll
Nebula/obj/Release/net5.0-windows/Nebula.g.resources
Nebula/obj/Release/net5.0-windows/Nebula.GeneratedMSBuildEditorConfig.editorconfig
Nebula/obj/Release/net5.0-windows/Nebula.genruntimeconfig.cache
Nebula/obj/Release/net5.0-windows/Nebula.pdb
Nebula/obj/Release/net5.0-windows/Nebula.Resources.Nebula.en.resources
Nebula/obj/Release/net5.0-windows/Nebula.Resources.Nebula.fr.resources
Nebula/obj/Release/net5.0-windows/Nebula.Resources.Nebula.resources
Nebula/obj/Release/net5.0-windows/Nebula_MarkupCompile.cache
Nebula/obj/Release/net5.0-windows/Nebula_MarkupCompile.lref
Nebula/obj/Release/net5.0-windows/ref/Nebula.dll
Nebula/obj/Release/net5.0-windows/View/MainWindow.baml
Nebula/obj/Release/net5.0-windows/View/MainWindow.g.cs
Nebula/obj/Release/net5.0-windows/View/MediaPlayerView.g.cs
Nebula/obj/Release/net5.0-windows/View/Styles/Geometry.baml
Nebula/obj/Release/net5.0-windows/View/Styles/Icons.baml
Nebula/obj/Release/net5.0-windows/View/Styles/Styles.baml
Nebula/obj/Release/net5.0-windows/View/Styles/Templates.baml
Nebula/obj/Release/net5.0-windows/View/Themes/DarkTheme.baml
Nebula/obj/Release/net5.0-windows/View/Themes/LightTheme.baml
Nebula/obj/Release/net5.0-windows/View/Views/Dialogs/BaseDialogView.baml
Nebula/obj/Release/net5.0-windows/View/Views/Dialogs/BaseDialogView.g.cs
Nebula/obj/Release/net5.0-windows/View/Views/Dialogs/PlaylistCreationDialogView.baml
Nebula/obj/Release/net5.0-windows/View/Views/Dialogs/PlaylistCreationDialogView.g.cs
Nebula/obj/Release/net5.0-windows/View/Views/MediaPlayerView.baml
Nebula/obj/Release/net5.0-windows/View/Views/MediaPlayerView.g.cs
Nebula/obj/Release/net5.0-windows/View/Views/PlaylistsListView.g.cs
Nebula/obj/Release/net5.0-windows/View/Views/PlaylistsView.g.cs
Nebula/obj/Release/net5.0-windows/View/Views/PlaylistView.baml
Nebula/obj/Release/net5.0-windows/View/Views/PlaylistView.g.cs
Nebula/obj/Release/net5.0-windows/View/Views/SearchResultsView.baml
Nebula/obj/Release/net5.0-windows/View/Views/SearchResultsView.g.cs
Nebula/obj/Release/net5.0-windows/View/Views/SideBarView.baml
Nebula/obj/Release/net5.0-windows/View/Views/SideBarView.g.cs
Nebula/obj/Release/net5.0-windows/View/Views/TestControl1.baml
Nebula/obj/Release/net5.0-windows/View/Views/TestControl1.g.cs
Nebula/obj/Release/net5.0-windows/View/Views/TestControl2.baml
Nebula/obj/Release/net5.0-windows/View/Views/TestControl2.g.cs
Nebula/obj/rider.project.restore.info
