# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Nebula.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
Nebula/bin/
Nebula/obj/
Nebula.Media/bin/
Nebula.Media/obj/
Nebula.Utils/bin/
Nebula.Utils/obj/
Nebula.Discord/bin/
Nebula.Discord/obj/
